$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);


  